html,body{
    position: relative;
    width: 100%;
    min-height: 750px;
}
/*top*/
#top{
    height: 36px;
    background: #F7F7F7;
    border-bottom: 1px solid #DEDEDE;
}
.top{
    font-size: 12px;
    line-height: 36px;
    height:36px;
}
.top .tl{
    float:left;
    position:relative;
}
.top .sp1 a{
    margin:0 10px;
    color:#666666;
}
.top .sp1 a:hover{
    color:#DA3A4C;
    text-decoration: underline;
}
.top .sp2 a{
    color:#DA3A4C;
    border-right: 1px solid #ccc;
    padding-right: 10px;
    margin-right: 584px;
}
.top .sp2 a:hover{
    text-decoration: underline;
}
.top .sp3 a{
    color:#ccc;
    position:absolute;
    top:0px;
    left:100px;
}
.top .u1{
    float:left;
}
.top .u1 li{
    float: left;
    margin:0 11px;
}
.top .u1 li a{
    color:#666666;
}
.top .u1 img{
    transition:all .5s;
}
.top .u1 li a:hover span{
    color:#DA3A4C;
    text-decoration: underline;
}
.top .u1 .aa:hover img{
    transform:rotate(180deg);
}
#top .robot{
    position:fixed;
    right:10px;
    bottom:10%;
    cursor:pointer;
    z-index: 10;
}

/*title*/
#title{
    height:31px;
}
#title .title{
    height:31px;
    background:#F7F7F7;
    border:1px solid #DEDEDE;
    border-top: none;
}
/*1*/
#title .title_1 span{
    display:inline-block;
    font-size: 11px;
    height:31px;
    color:#333333;
    text-align: center;
    line-height: 31px;
}
#title .title_1 span:nth-child(1){
    width:610px;
}
#title .title_1 span:nth-child(2){
    width:126px;
}
#title .title_1 span:nth-child(3){
    width:120px;
}
#title .title_1 span:nth-child(4){
    width:150px;
}
#title .title_1 span:nth-child(5){
    width:120px;
}
#title .title_1 span:nth-child(6){
    width:48px;
}
/*2*/
.title .title_2{
    height:104px;
    border:1px solid #DEDEDE;
    border-top: none;
}
.title .title_2 span{
    display:inline-block;
    font-size: 11px;
    height:104px;
    text-align: center;
    line-height: 104px;
    border-right: 1px solid #DEDEDE;
}
#title .title_2 span:nth-child(1){
    width:608px;
}
#title .title_2 span:nth-child(2){
    width:126px;
}
#title .title_2 span:nth-child(3){
    width:120px;
}
#title .title_2 span:nth-child(4){
    width:150px;
}
#title .title_2 span:nth-child(4) #reduce{
    width:17px;
    height:17px;
    border:1px solid #AEAEAE;
    background:#fff;
}
#title .title_2 span:nth-child(4) #num{
    width:34px;
    height:19px;
    border:1px solid #AEAEAE;
    text-align: center;
}
#title .title_2 span:nth-child(4) #add{
    width:17px;
    height:17px;
    border:1px solid #AEAEAE;
    background:#fff;
}
#title .title_2 span:nth-child(5){
    width:120px;
}
#title .title_2 span:nth-child(6){
    width:48px;
    border-right:none;
}

input[type="checkbox"]{
    display: none;
}
label{
    position: relative;
    display: inline-block;
    z-index: 1;
    border: 1px solid #b8b8b8;
    margin-left: 10px;
    border-radius: 1px;
    width: 12px;
    height: 12px;
    cursor: pointer;
}
label.mark{
    background: url("../images/mark1.png") no-repeat -1px -1px;
}

a:hover{
    color: #ff873e;
    text-decoration: underline;
}
.cartMain{
    position: relative;
    width: 1200px;
    min-width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
    /*padding: 0px 0px 100px;*/
    /*min-height: 210px;*/
}
/*购物车头部*/
.cartMain_hd{
    width: 100%;
    height: 31px;
    line-height: 31px;
    color: #3c3c3c;
    font-size: 12px;
}
.cartMain_hd .cartTop{
    height: 31px;
    border:1px solid #ccc;
    border-top:none;
    background:#F7F7F7;
}
.cartMain_hd .cartTop li{
    border-bottom:1px solid #ccc;
}
.cartMain_hd .cartTop .list_chk{
    width: 80px;
    text-indent: 30px;
}
.cartMain_hd .cartTop .list_con{
    width: 312px;
}
.cartMain_hd .cartTop .list_chk label{
    position: absolute;
    left: 10px;
    top:9px;
    margin: 0;
}
.cartMain_hd .cartTop .list_info{
    padding: 0;
    text-indent: 15px;
}
.cartMain_hd .cartTop .list_con{
    text-indent: 140px;
}


.cartBox{
    width: 100%;
    margin-bottom: 15px;
}
.cartBox .shop_info{
    position: relative;
    width: 100%;
    height: 38px;
    background-color: #fff;
    line-height: 38px;
    vertical-align: baseline;
}
.cartBox .shop_info .all_check{
    position: relative;
    float: left;
    width: 30px;
    height: 38px;
}

.cartBox .shop_info .all_check input[type="checkbox"]{
    position: absolute;
    z-index: 0;
    left: -20px;
    top: -20px;
}
.cartBox .shop_info .all_check .shop{
    position: absolute;
    top:13px;
}
.cartBox .shop_info .shop_name{
    float: left;
}


/*商品列表*/
.cartBox .order_content{
    border: 1px solid #ccc;
    border-top: none;
}
.cartBox .order_content a{
    display: block;
}
.order_lists{
    width: 100%;
    height: 110px;
    border-bottom: 1px solid #e7e7e7;
    text-align: center;
}
.order_lists:last-child{
    border-bottom: none;
}
.order_lists li{
    float: left;
    height: 100%;
    font-size: 12px;
}

.order_lists .list_chk{
    position: relative;
    width: 50px;
}
.order_lists .list_chk input[type="checkbox"]{
    position: absolute;
    z-index: 0;
    left: -20px;
    top: -20px;
}
.order_lists .list_chk label{
    margin: 48px 0 0 -8px;
}

.order_lists .list_con{
    width: 342px;
}
.order_lists .list_con .list_img{
    width: 63px;
    height: 63px;
    margin: 20px 68px 0 0;
    float: left;
}
.order_lists .list_con .list_img img{
    width: 100%;
    vertical-align: top;
}
.order_lists .list_con .list_text{
    margin: 38px 0 0 10px;
    line-height: 18px;
    width: 200px;
    float: left;
}
.order_lists .list_con .list_text a{
    color: #3c3c3c;
}
.order_lists .list_con .list_text a:hover{
    text-decoration: underline;
}

.order_lists .list_info{
    width: 252px;
    box-sizing: border-box;
    padding: 45px 0 0 0;
}
.order_lists .list_info p{
    line-height: 18px;
    margin-left: 15px;
}
.order_lists .list_price{
    width: 130px;
}
.order_lists .list_price .price{
    margin-top: 45px;
    line-height: 18px;
    font-family: Verdana,Tahoma,arial;
    color: #3c3c3c;
}
.order_lists .list_amount{
    width: 120px;
}
.order_lists .list_amount .amount_box{
    margin-top: 41px;
    width: 77px;
    height: 25px;
    position: relative;
}
.order_lists .list_amount .amount_box input{
    width: 39px;
    height: 23px;
    line-height: 15px;
    border: 1px solid #aaa;
    color: #343434;
    text-align: center;
    padding: 4px 0;
    background-color: #fff;
    z-index: 2;
    position: absolute;
    left: 18px;
    float: left;
}
.order_lists .list_amount .amount_box a{
    float: left;
    height: 23px;
    width: 17px;
    border: 1px solid #e5e5e5;
    background: #f0f0f0;
    text-align: center;
    line-height: 23px;
    color: #444;
    position: absolute;
    top:0;
}
.order_lists .list_amount .amount_box a:hover{
    border-color: #CDCDCD;
    text-decoration: none;
    color: #CDCDCD;
    z-index: 3;
}

.order_lists .list_amount .amount_box .reduce{
    left: 0;
}

.order_lists .list_amount .amount_box .reSty{
    color: #cbcbcb;
}
.order_lists .list_amount .amount_box .reSty:hover{
    border-right: none;
    border-color: #e5e5e5;
    text-decoration: none;
    color: #cbcbcb;
}

.order_lists .list_amount .amount_box .plus{
    border-left-color: transparent;
    right: 0;
}


.order_lists .list_sum{
    width: 140px;
}
.order_lists .list_sum .sum_price{
    line-height: 18px;
    margin-top: 45px;
    font-family: Verdana,Tahoma,arial;
    color: #ff0000;
    font-weight: bold;
}
.order_lists .list_op{
    width: 164px;
}
.order_lists .list_op .del img{
    margin-top: 50px;
}

/*底部总计算价*/
.bar-wrapper{
    width: 1200px;
    height: 37px;
    position: fixed;
    bottom: -1px;
    z-index: 99;
    background: #e5e5e5;
}
.bar-wrapper .bar-right{
    float: right;
    color: #3c3c3c;
}
.bar-wrapper .bar-right strong{
    color: #E01D20;
}

.bar-wrapper .bar-right .piece{
    float: left;
    min-width: 110px;
    margin-right: 20px;
    height: 37px;
    line-height: 37px;
}
.bar-wrapper .bar-right .piece .piece_num{
    display: inline-block;
    padding: 0 10px;
    font-weight: 700;
    font-size: 18px;
    font-family: tohoma,arial;
}
.bar-wrapper .bar-right .totalMoney{
    float: left;
    min-width: 100px;
    height: 37px;
    line-height: 37px;
}
.bar-wrapper .bar-right .totalMoney .total_text{
    float: right;
    font-weight: 400;
    font-size: 20px;
    font-family: Arial;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: 15px;
}
.bar-wrapper .bar-right .calBtn{
    float: left;
}
.bar-wrapper .bar-right .calBtn a{
    display: block;
    width: 120px;
    height: 37px;
    color: #fff;
    background: #E01D20;
    cursor: not-allowed;
    font-size: 17px;
    letter-spacing: 5px;
    text-decoration: none;
    line-height: 37px;
    text-align: center;
    border-radius: 2px;
}
.bar-wrapper .bar-right .calBtn a.btn_sty{
    background: #E01D20;
    cursor: pointer;
}

/*自己定义的模态框*/
.model_bg{
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,.6);
    z-index: 999;
    display: none;
}
.my_model{
    position: fixed;
    display: none;
    top:50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -200px;
    z-index: 9999;
    width: 360px;
    height: 140px;
    border: 1px solid #aeaeae;
    border-radius: 3px;
    padding: 20px;
    background: #fff;
}
.my_model .title{
    font-size: 14px;
    color: #3c3c3c;
    font-weight: 700;
    margin-bottom: 20px;
}
.my_model .title .closeModel{
    float: right;
    cursor: pointer;
}
.my_model p{
    line-height:16px;
}
.my_model .opBtn{
    margin-top: 20px;
}
.my_model .opBtn a{
    width: 58px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    border-radius:3px;
    display: inline-block;
    margin-right: 10px;
    font-size: 12px;
}
.my_model .dialog-sure{
    background: #52a0e5;
    color: #fff;
    border: 1px solid #52a0e5;
}

.my_model .dialog-close{
    background: #fff;
    border: 1px solid #d9d9d9;
    color: #3c3c3c;
}

/*bottom*/
#bottom{
    margin-top: 100px;
    width:100%;
}

































